<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Subject</title>
  </head>
  <body>
    <h3>Subject</h3>
    <a href="/">Back</a>
    <table>
      <thead>
        <th>ID</th>
        <th>Subject</th>
        <th>Teacher</th>
        <th>Action</th>
      </thead>
      <tbody>
      <%for(var i=0;i < dataSubject.length;i++){%>
        <tr>
          <td><%=dataSubject[i].id%></td>
          <td><%=dataSubject[i].subject_name%></td>
          <%for(var j=0;j < dataSubject.length;j++){%>
            <td><%=dataSubject[i].Teachers[j].fullname()%>
            </td>
              <%}%>
          </tr>
          <tr>
            <td>
              <a href="/subject/<%=dataSubject[i].id%>/enrolled">Enrolled Student</a>
            </td>
            <%}%>
          </tr>
        </tr>
      </tbody>
    </table>
  </body>
</html>
