<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Subject</title>
  </head>
  <body>
    <h3>Subject</h3>
    <a href="/">Back</a>
    <table border="2px">
      <thead>
        <th>ID</th>
        <th>Subject</th>
        <th>Teacher</th>
        <th>Action</th>
      </thead>
      <tbody>
        <%for(var i=0;i < dataSubject.length;i++){%>
          <tr>
            <td><%=dataSubject[i].id%></td>
            <td><%=dataSubject[i].subject_name%></td>
            <td><%=dataSubject[i].Teachers.first_name%></td>

            <td>
              <a href="/subject/add">Add</a>
            <a href="/subject/edit/:id">Edit</a>
            <a href="/subject/delete/:id">Delete</a>
          </td>
          </tr>
          <%}%>
      </tbody>
    </table>

  </body>
</html>
